<%- include('../partials/head.ejs') %>

<!-- Page Wrapper -->
<div id="wrapper">
    <%- include('../partials/sidebar.ejs') %>

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

        <!-- Main Content -->
        <div id="content">
            <%- include('../partials/navbar.ejs') %>

            <!-- Begin Page Content -->
            <div class="container-fluid">
                <div class="mb-3">
                    <%- include('../partials/breadcrumb.ejs', {breadcrumb: [
                        {title: 'Item', url: '/item'},
                        {title: 'Create', url: '/item/create'},
                    ]}) %>
                </div>

                <%- include('../partials/alert.ejs') %>

                <form action="/item/save?_csrf=<%= _csrfToken %>" method="post" id="form-item" enctype="multipart/form-data">
                    <input type="hidden" name="_csrf" value="<%= _csrfToken %>">
                    <fieldset>
                        <div class="card shadow border-0 mb-4">
                            <div class="card-header py-3">
                                <h6 class="m-0 font-weight-bold text-primary">New Item Data</h6>
                            </div>
                            <div class="card-body">
                                <div class="form-group">
                                    <label for="title">Title</label>
                                    <input type="text" class="form-control" id="title" name="title" maxlength="50"
                                           value="<%= _old.title || '' %>" placeholder="Enter item title">
                                    <%- validationError('title') %>
                                </div>
                                <div class="form-group">
                                    <label for="category">Category</label>
                                    <select class="custom-select" name="category" id="category" required>
                                        <option value="">Select Category</option>
                                        <% categories.forEach(category => { %>
                                            <option value="<%= category._id %>"<%= (_old.category || '') == category._id ? ' selected' : '' %>>
                                                <%= category.category %>
                                            </option>
                                        <% }) %>
                                    </select>
                                    <%- validationError('category') %>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="city">City</label>
                                            <input type="text" class="form-control" id="city" name="city" required maxlength="20"
                                                   value="<%= _old.city || '' %>" placeholder="City location">
                                            <%- validationError('city') %>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="country">Country</label>
                                            <input type="text" class="form-control" id="country" name="country" maxlength="20"
                                                   value="<%= _old.country || '' %>" placeholder="Country of the city">
                                            <%- validationError('country') %>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="is_popular">Is Popular</label>
                                            <select class="custom-select" name="is_popular" id="is_popular" required>
                                                <option value="">Select Popular</option>
                                                <option value="1"<%= (_old.is_popular || '') == '1' ? ' selected' : '' %>>
                                                    YES
                                                </option>
                                                <option value="0"<%= (_old.is_popular || '') == '0' ? ' selected' : '' %>>
                                                    NO
                                                </option>
                                            </select>
                                            <%- validationError('isPopular') %>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="price">Price</label>
                                            <input type="text" class="form-control numerical" id="price" name="price" required maxlength="18"
                                                   value="<%= _old.price || '' %>" placeholder="Price per night">
                                            <%- validationError('price') %>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="card shadow border-0 mb-4">
                            <div class="card-body">
                                <div class="text-editor-wrapper">
                                    <%- include('../partials/text_editor_toolbar') %>
                                    <div class="text-editor" data-change-target="#description" style="min-height: 200px">
                                        <%- _old.description || '' %>
                                    </div>
                                    <textarea class="form-control d-none" id="description" name="description" rows="5"
                                              placeholder="Enter item description"><%= _old.description || '' %></textarea>
                                    <%- validationError('description') %>
                                </div>
                            </div>
                        </div>

                        <div class="card shadow border-0 mb-4">
                            <div class="card-header py-3">
                                <h6 class="m-0 font-weight-bold text-primary">Facilities</h6>
                            </div>
                             <div class="card-body">
                                <div class="row">
                                    <% facilities.forEach((facility, i) => { %>
                                        <% facilitySelected = _old.facility_checks && _old.facility_checks.includes(facility._id.toString()) %>
                                        <div class="col-md-6 check-facility-wrapper d-flex justify-content-between align-items-center mb-2" id="facility_action">
                                            <div class="custom-control custom-checkbox">
                                                <input type="checkbox" class="custom-control-input check-facility" id="facility_<%= facility._id %>" name="facility_checks[<%= i %>]"
                                                       value="<%= facility._id %>" <%= facilitySelected ? 'checked' : '' %>>
                                                <label class="custom-control-label mr-2 mb-2" for="facility_<%= facility._id %>"><%= facility.facility %></label>
                                            </div>
                                            <div class="mx-md-5">
                                                <input type="number" required min="1" max="100" class="form-control form-control-sm facility-quantity" id="quantity" name="facilities[<%= facility._id %>]"
                                                       value="<%= _old.facilities && _old.facilities[facility._id] || '' %>" placeholder="Total" style="max-width: 150px"
                                                        <%= facilitySelected ? '' : 'disabled' %>>
                                            </div>
                                        </div>
                                    <% }) %>
                                </div>
                                <%- validationError('facilities') %>
                            </div>

                        </div>

                        <div class="form-group">
                            <label for="example-input-file"> </label>
                            <input type="file" name="multi_files" multiple id="input-multi-files" class="form-control-file border"/>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="preview-images"></div>
                            </div>
                        </div>

                        <div class="card shadow border-0 mb-4">
                            <div class="card-body d-flex justify-content-between">
                                <button onclick="history.back()" type="button" class="btn btn-light">Back</button>
                                <button type="submit" class="btn btn-success" data-toggle="one-touch">Save Item</button>
                            </div>
                        </div>
                    </fieldset>
                </form>

            </div>
            <!-- /.container-fluid -->

        </div>
        <!-- End of Main Content -->

        <%- include('../partials/footer.ejs') %>

    </div>
    <!-- End of Content Wrapper -->

</div>
<!-- End of Page Wrapper -->

<%- include('_template_item.ejs') %>
<%- include('_modal_activity.ejs') %>
<%- include('../partials/js.ejs') %>

<script>
    $(document).ready(function() {
        let imagesPreview = function(input, placeToInsertImagePreview) {
          if (input.files) {
            let filesAmount = input.files.length;
            for (i = 0; i < filesAmount; i++) {
              let reader = new FileReader();
              reader.onload = function(event) {
                $($.parseHTML("<img>"))
                  .attr("src", event.target.result)
                  .appendTo(placeToInsertImagePreview);
              };
              reader.readAsDataURL(input.files[i]);
            }
          }
        };
        $("#input-multi-files").on("change", function() {
          imagesPreview(this, "div.preview-images");
        });

        $("input[type='number']").prop('disabled', 'true');
        $("input[type='checkbox']").change(function(){
            $next = $(this).closest('#facility_action').find("input[type='number']");
            $next.prop('disabled', !this.checked);
        });

      });


</script>
